@mixin about {
    #about{
        .container{
            .container-wrap{
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 60px 0;
                h1{
                    font-family: 'PT Root UI';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 46px;
                    color: #15191C;
                }

                p{
                    font-family: 'PT Root UI';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #15191C;
                }

                h3{
                    font-family: 'PT Root UI';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    color: #15191C;
                }

                ul{
                    padding: 0 0 60px 15px;
                    li{
                        font-family: 'PT Root UI';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        color: #3A3F43;
                        list-style-type: disc;
                    }
                }
            }
        }
    }
}

@mixin footer {
    footer{
        .footer_top{
            background-color: #535E69;
            .container{
                .container-wrap{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 24px 0;
                    
                    .footer_top_main{

                        display: flex;
                        align-items: center;
                        gap: 20px;
                        img{
                            cursor: pointer;
                        }
                        p{
                            font-family: 'PT Root UI';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 28px;
                            color: #FFFFFF;
                        }
                        span{
                            display: block;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            padding: 3px 7px;
                            border: 1px solid #FFFFFF;
                            background: #9A9C9E;
                            cursor: pointer;
                        }
                        
                    }
                }
            }
        }

        .footer-main{
            padding: 40px 0;
            .container{
                .container-wrap{
                    display: flex;
                    justify-content: space-between;
                    padding: 40px 0 20px 0;
                    gap: 20px;
                    .footer_section{
                        .footer_logo{
                            margin-bottom: 20px;
                        }
                        .footer_section_tell{
                            display: flex;
                            gap: 14px;
                            margin-bottom: 15px;
                            p{
                                font-family: 'PT Root UI';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: #15191C;
                            }
                        }
                        .footer_stars{
                            background-color: #F7F8FB;
                            border: 1px solid #D7D9DC;
                            border-radius: 3px;
                            width: 130px;
                            height: 77px;
                            align-items: center;
                            padding-left: 15px;
                            margin-top: 21px;

                            h4{
                                font-family: 'PT Root UI';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 36px;
                                color: #15191C;
                            }
                        }
                    }

                    .footer_section_2{
                        h3{
                            font-family: 'PT Root UI';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 28px;
                            color: #15191C;
                            margin-bottom: 15px;
                        }

                        p{
                            font-family: 'PT Root UI';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 22px;
                            display: flex;
                            align-items: center;
                            margin-bottom: 5px;
                            a{
                                color: #3A3F43;
                            }
                        }

                        h6{
                            font-family: 'PT Root UI';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 18px;
                            color: #747883;
                            margin-bottom: 13px;
                        }

                        .footer_section_2_pay{
                            width: 180px;
                        }

                        h1{
                            font-family: 'PT Root UI';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 28px;
                            margin-bottom: 10px;
                        }

                        .footer_section_2_contact{
                            display: flex;
                            gap: 31px;
                            margin-bottom: 15px;
                        }

                        .footer_btn{
                           
                             button{
                                    padding: 11px 15px;
                                    border-radius: 5px;
                                    background: #FFFFFF;
                                    border: none;
                                    margin-bottom: 10px;

                                        a{
                                            font-family: 'PT Root UI';
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 14px;
                                            line-height: 18px;
                                            color: #3697E2;
                                        }
                                }
                         }

                    }
                }
            }
        }

        .footer_bottom{
            background: #F7F8FB;
            .container{
                .container-wrap{
                    display: flex;
                    justify-content: space-between;
                    padding: 21px 0;
                    p{
                        font-family: 'PT Root UI';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        color: #3A3F43;
                    }
                }
            }
        }
    }
    @media (max-width:1100px){
        footer{
            .footer_top{
                .container{
                    .container-wrap{
                        .footer_top_main{
                            flex-direction: column;
                            p{
                                font-size: 16px;
                            }
                            span{
                                display: none;
                            }
                        }
                        .liner{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:900px){
        footer{
            .footer-main{
                .container{
                    .container-wrap{
                        .footer_section_2 {
                                h1 {
                                    font-size: 18px;
                                }
                        
                                p {
                                    font-size: 14px;
                                }
                                h3{
                                    font-size: 16px;
                                }
                            }
                    }
                }
            }
        }
    }
    @media (max-width:730px){
        footer{
            background: #F7F8FB;
            .footer_top{
                display: none;
            }
            .footer-main{
                .container{
                    .container-wrap{
                        flex-direction: column;
                        .footer_section_2{
                            .footer_btn{
                                button{
                                    width: 100%;
                                }
                            }
                        }
                        .footer_section{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        .fooer_media{
                            display: none;
                        }
                    }
                }
            }
            .footer_bottom{
                .container{
                    .container-wrap{
                        flex-direction: column;
                        gap: 10px;
                    }
                }
                padding-bottom: 100px;
            }
        }
    }
}