@mixin d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin header {
    header{
        nav{
            box-shadow: 0px 5px 30px rgba(63, 66, 69, 0.15);
            .nav-top {
                background: #F7F8F9;
                padding: 10px 0;
                .container{
                    .container-wrap{
                        @include d-flex();
                        a {
                            font-family: 'PT Root UI';
                            font-style: normal;
                            font-weight: 400;                        font-size: 14px;
                            line-height: 18px;
                            display: flex;
                            align-items: center;
                            color: #15191C;
                            gap: 5px;
                            i{
                                color: #747883;
                            }
                        }
                        .nav-bar{
                            .nav-link{
                                @include d-flex();
                                gap: 15px;
                                .nav-item{
                                    padding: 5px;
                                    transition: all .5s ease;
                                    border-radius: 5px;
                                    .dropdown {
                                        z-index: 3;
                                        position: relative;
                                        display: inline-block;
                                        .dropbtn{
                                            background: transparent;
                                            border: none;
                                            display: flex;
                                            align-items: center;
                                            gap: 5px;
                                            i{
                                                transition: all .5s ease;
                                            }
                                        }
                                        .dropdown-content {
                                            display: none;
                                            position: absolute;
                                            background-color: #f9f9f9;
                                            min-width: 160px;
                                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                            z-index: 1;
                                        }
                                        a{
                                            color: black;
                                            padding: 12px 16px;
                                            text-decoration: none;
                                            display: block;
                                        }
                                        a:nth-child(1){
                                            display: none;
                                        }
                                        a:nth-child(2){
                                            display: none;
                                        }
                                        a:nth-child(3){
                                            display: none;
                                        }
                                        a:nth-child(4){
                                            display: none;
                                        }
                                        a:nth-child(5){
                                            display: none;
                                        }
                                        a:hover{
                                            background: linear-gradient(0deg, #F1DA09, #F1DA09),
                                                linear-gradient(0deg, #EEEE36, #EEEE36);
                                            border-radius: 5px;
                                        }
                                        } 
                                        .dropdown:hover .dropdown-content {
                                        display: block;
                                        }
                                        .dropdown:hover .dropbtn {
                                            i {
                                                transform: rotate(180deg);
                                            }
                                        }

                                }
                                .nav-item:hover{
                                    background: linear-gradient(0deg, #F1DA09, #F1DA09), linear-gradient(0deg, #EEEE36, #EEEE36);
                                }
                                .nav-item:nth-child(6):hover{
                                    background: transparent
                                }
                            }
                        }
                        .nav-message-icons{
                            @include d-flex();
                            gap: 5px;
                            span{
                                @include d-flex();
                                gap: 5px;
                            }
                        }
                    }
                }
            }
            .nav-middle{
                .container{
                    .container-wrap{
                        @include d-flex();
                        gap: 20px;
                        padding: 21px 0;
                        .nav-bars{
                            display: none;
                            span {
                                    display: block;
                                    width: 25px;
                                    height: 3px;
                                    margin: 5px auto;
                                    transition: all 0.3s ease-in-out;
                                    background-color: #747883;
                                    border-radius: 10px;
                                }
                        }
                        .nav-search{
                            width: 70%;
                            position: relative;
                            border: 1px solid #D7D9DC;
                            border-radius: 5px;
                            input{
                                background: #F7F8FB;
                                width: 100%;
                                margin: 0 auto;
                                padding: 13px 20px;
                                border: 1px solid transparent;
                                border-radius: 5px;
                                outline:none;
                                &::placeholder{
                                    font-family: 'PT Root UI';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 22px;
                                    color: #747883;
                                }
                            }
                            .search{
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                background: #F7F8FB;
                                padding-left: 10px;
                                i{
                                    font-size: 20px;
                                    color: #535E69;
                                }
                            }
                            .call{
                                display: none;
                            }
                        }
                        .sale-icons{
                            @include d-flex();
                            gap: 10px;
                            a{
                                transition: all .5s ease;
                                width: 40px;
                                height: 40px;
                                @include d-flex();
                                justify-content: center;
                                position: relative;
                                span{
                                    top: 0;
                                    right: -5px;
                                    position: absolute;
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background: #D7D9DC;
                                    border: 1px solid #FFFFFF;
                                    box-shadow: 0px 5px 20px rgba(63, 66, 69, 0.05);
                                    border-radius: 50%;
                                    font-family: 'PT Root UI';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 16px;
                                        color: #FFFFFF;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                }
                                p{
                                    font-family: 'PT Root UI';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 10px;
                                    line-height: 14px;
                                    color: #3A3F43;
                                    display: none;
                                }
                                i{
                                    color: #747883;
                                    font-size: 25px;
                                }
                            }
                            a:nth-child(5){
                                display: none;
                            }
                            a:hover{
                                img {
                                        filter: brightness(95%) hue-rotate(349deg) saturate(1000%) contrast(1000%);
                                        -webkit-filter: brightness(95%) hue-rotate(349deg) saturate(1000%) contrast(1000%);
                                        -moz-filter: brightness(95%) hue-rotate(349deg) saturate(1000%) contrast(1000%);
                                    }
                                    p{
                                        color: #0867D6;
                                    }
                            }
                        }
                    }
                }
            }
            .nav-menu{
                border-top: 1px solid #D7D9DC;
                .container{
                    .container-wrap{
                        .menu-link{
                            @include d-flex();
                            padding: 13px 0;
                            .menu-item{
                                a{
                                    font-family: 'PT Root UI';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 24px;
                                    color: #15191C;
                                    padding-bottom: 6px;
                                    transition: all .5s ease;
                                    border-bottom: 2px solid transparent;
                                    i{
                                        margin-left: 5px;
                                        font-size: 15px;
                                        color: #747883;
                                    }
                                }
                                .dropdown {
                                    position: relative;
                                    display: inline-block;
                                    z-index: 3;
                                    .dropbtn{
                                        background: transparent;
                                        border: none;
                                        font-family: 'PT Root UI';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 18px;
                                        line-height: 24px;
                                        color: #15191C;
                                        padding-bottom: 6px;
                                        transition: all .5s ease;
                                        border-bottom: 2px solid transparent;
                                        display: flex;
                                        align-items: center;
                                        gap: 10px;
                                        cursor: pointer;
                                        i{
                                            font-size: 15px;
                                            transition: all .5s ease;
                                        }
                                    }
                                    .dropdown-content {
                                        display: none;
                                        position: absolute;
                                        background-color: #f9f9f9;
                                        min-width: 120px;
                                        right: -10px;
                                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                        z-index: 1;
                                        a {
                                            font-family: 'PT Root UI';
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 18px;
                                            line-height: 24px;
                                            color: #15191C;
                                            padding-bottom: 6px;
                                            transition: all .5s ease;
                                            border-bottom: 2px solid transparent;
                                            padding: 12px 16px;
                                            text-decoration: none;
                                            display: block;
                                        }
                                        a:hover{
                                            color: #0867D6;
                                            border-bottom: 2px solid #0867D6;
                                        }
                                        a:nth-child(1){
                                            display: none;
                                        }
                                        a:nth-child(2){
                                            display: none;
                                        }
                                        a:nth-child(3){
                                            display: none;
                                        }
                                        a:nth-child(4){
                                            display: none;
                                        }
                                        a:nth-child(5){
                                            display: none;
                                        }
                                         a:nth-child(6){
                                            display: none;
                                        }
                                        a:nth-child(7){
                                            display: none;
                                        }
                                        a:nth-child(8){
                                            display: none;
                                        }
                                    }
                                }
                                .dropdown:hover .dropdown-content {
                                    display: block;
                                }
                                .dropdown:hover .dropbtn {
                                    i {
                                        transform: rotate(180deg);
                                    }
                                }

                            }
                            .menu-item:hover{
                                a{
                                    color: #0867D6;
                                    border-bottom: 2px solid #0867D6;
                                }
                                .dropdown a{
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .header-home{
            padding: 20px 0 50px 0;
                .container{
                    .container-wrap{
                        @include d-flex();
                        justify-content: center;
                            gap: 16px;
                        
                            .home-swiper-wrap {
                                position: relative;
                            }
                        
                            .homeSwiper {
                                border-radius: 10px;
                                width: 100%;
                                height: 415px;
                                margin: 0;
                        
                                .home-item {
                                    img {
                        
                                        &:nth-child(2),
                                        &:nth-child(3) {
                                            display: none;
                                        }
                                    }
                                }
                        
                                .home-prev-btn,
                                .home-next-btn {
                                    position: absolute;
                                    z-index: 1;
                                    top: 50%;
                                    font-size: 20px;
                                    color: #535e69;
                                    transform: translateY(-50%);
                                    cursor: pointer;
                                }
                        
                                .home-prev-btn {
                                    width: 80px;
                                    height: 80px;
                                    border-radius: 50%;
                                    margin-left: -30px;
                                    backdrop-filter: blur(50px);
                        
                                    i {
                                        @include d-flex();
                                        width: 60px;
                                        height: 60px;
                                        background: #f8f9fa;
                                        opacity: 0.8;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translateY(-50%);
                                        margin-left: -30px;
                                        padding: 21px 0 21px 28px;
                                    }
                                }
                        
                                .home-next-btn {
                                    width: 80px;
                                    height: 80px;
                                    border-radius: 50%;
                                    margin-right: -30px;
                                    backdrop-filter: blur(50px);
                                    right: 0;
                        
                                    i {
                                        @include d-flex();
                                        width: 60px;
                                        height: 60px;
                                        background: #f8f9fa;
                                        opacity: 0.8;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translateY(-50%);
                                        margin-left: -30px;
                                        padding: 21px 0px 21px 17px;
                                    }
                                }
                        
                                .swiper-wrapper {
                                    .home-item {
                                        position: relative;
                        
                                        a {
                                            font-family: 'PT Root UI';
                                            position: absolute;
                                            left: 50px;
                                            bottom: 40px;
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 18px;
                                            line-height: 24px;
                                            display: flex;
                                            align-items: center;
                                            color: $black;
                                            padding: 16px 30px;
                                            background: #F1DA09;
                                            border-radius: 3px;
                                            transition: all 0.3s ease;
                        
                                            &:hover {
                                                background: #e4ce08;
                                            }
                        
                                            i {
                                                margin-left: 15px;
                                            }
                                        }
                        
                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        
                            .home-swiper-pagination {
                                background: rgba(255, 255, 255, 0.3);
                                border-radius: 5px;
                                margin-top: -50px;
                                z-index: 1;
                                position: absolute;
                                width: 132px;
                                height: 30px;
                                @include d-flex();
                                padding: 11px 15px;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: 10px;
                            }
                        
                            .swiper-pagination-bullet {
                                background: #d7d9dc;
                                transform: scale(0.9);
                                width: 8px;
                                height: 8px;
                            }
                        
                            .swiper-pagination-bullet-active {
                                transform: scale(1);
                                background: $white;
                            }
                        
                            .homeSwiper2 {
                                max-width: 277px;
                                height: 415px;
                                margin: 0;
                                border-radius: 10px;
                        
                                .home-item2 {
                                    img {
                                        height: 100%;
                                    }
                                }
                        
                                .home2-prev-btn,
                                .home2-next-btn {
                                    position: absolute;
                                    z-index: 1;
                                    top: 50%;
                                    font-size: 20px;
                                    color: #535e69;
                                    transform: translateY(-50%);
                                    cursor: pointer;
                                }
                        
                                .home2-prev-btn {
                                    width: 80px;
                                    height: 80px;
                                    border-radius: 50%;
                                    margin-left: -30px;
                                    backdrop-filter: blur(50px);
                        
                                    i {
                                        @include d-flex();
                                        width: 60px;
                                        height: 60px;
                                        background: #f8f9fa;
                                        opacity: 0.8;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translateY(-50%);
                                        margin-left: -30px;
                                        padding: 21px 0 21px 28px;
                                    }
                                }
                        
                                .home2-next-btn {
                                    width: 80px;
                                    height: 80px;
                                    border-radius: 50%;
                                    margin-right: -30px;
                                    backdrop-filter: blur(50px);
                                    right: 0;
                        
                                    i {
                                        @include d-flex();
                                        width: 60px;
                                        height: 60px;
                                        background: #f8f9fa;
                                        opacity: 0.8;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translateY(-50%);
                                        margin-left: -30px;
                                        padding: 21px 0px 21px 17px;
                                    }
                                }
                        
                                .home2-swiper-pagination {
                                    background: rgba(255, 255, 255, 0.3);
                                    border-radius: 5px;
                                    margin-top: -50px;
                                    z-index: 1;
                                    position: absolute;
                                    width: 132px;
                                    @include d-flex();
                                    padding: 11px 15px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                        
                                .swiper-pagination-bullet {
                                    background: #d7d9dc;
                                    transform: scale(0.9);
                                    width: 8px;
                                    height: 8px;
                                }
                        
                                .swiper-pagination-bullet-active {
                                    transform: scale(1);
                                    background: $white;
                                }
                            }
                    }
                }
        }
    }
    @media (max-width:1100px){
        header{
            nav{
                .nav-top{
                    .container{
                        .container-wrap{
                           .nav-gmail{
                                display: none;
                           }
                        }
                    }
                }
                .nav-menu{
                    .container{
                        .container-wrap{
                            .menu-link{
                                .menu-item:nth-child(7){
                                    display: none;
                                }
                                .menu-item:nth-child(8){
                                    display: none;
                                }
                                .menu-item:nth-child(9){
                                    display: none;
                                }
                                .menu-item{
                                    .dropdown{
                                        .dropdown-content{
                                             a:nth-child(6){
                                                display: block;
                                            }
                                            a:nth-child(7){
                                                display: block;
                                            }
                                            a:nth-child(8){
                                                display: block;
                                        }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width:950px) and (min-width:700px){
        header{
            nav{
                .nav-top{
                    .container{
                        .container-wrap{
                           .nav-bar{
                                .nav-link{
                                    .nav-item:nth-child(3){
                                        display: none;
                                    }
                                    .nav-item:nth-child(4){
                                        display: none;
                                    }
                                    .nav-item:nth-child(5){
                                        display: none;
                                    }
                                    .dropdown{
                                        .dropdown-content{
                                            a:nth-child(3){
                                                display: block;
                                            }
                                            a:nth-child(4){
                                                display: block;
                                            }
                                            a:nth-child(5){
                                                display: block;
                                            }
                                        }
                                    }
                                }
                           }
                        }
                    }
                }
            }
            .header-home{
                .container{
                    .container-wrap{
                        .homeSwiper2{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:700px){
        header{
            nav{
                .nav-top{
                    background: #FFFFFF;
                    display: none;
                    .container{
                        .container-wrap{
                            flex-direction: column;
                            align-items: start;
                            .nav-bar{
                                .nav-link{
                                    flex-direction: column;
                                    align-items: start;
                                }
                            }
                            .nav-gmail{
                                display: block;
                            }
                            .nav-message-icons{
                                flex-direction: column;
                                align-items: start;
                                gap: 20px;
                            }
                            div{
                                padding: 16px 0;
                                width: 100%;
                                border-bottom: 1px solid #D7D9DC;
                            }
                        }
                    }
                }
                .nav-middle{
                    .container{
                        .container-wrap{
                            padding: 15px 0;
                            .nav-logo{
                                margin-left: 20px;
                                a{
                                    width: 113px;
                                    height: 36px;
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                            .nav-bars{
                                display: block;
                            }
                            .nav-bars.active .bar:nth-child(2) {
                                opacity: 0;
                            }
                            .nav-bars.active .bar:nth-child(1) {
                                transform: translateY(8px) rotate(45deg);
                            }
                            .nav-bars.active .bar:nth-child(3) {
                                 transform: translateY(-8px) rotate(-45deg);
                            }
                            .nav-search{
                                border: none;
                                input{
                                    display: none;
                                }
                                .call{
                                    display: block;
                                    text-align: right;
                                    margin-right: 60px;

                                    a{
                                        width: 10px;
                                        height: 10px;
                                        img{
                                            width: 30px;
                                        }
                                    }
                                }
                                .search{
                                    top: 5px;
                                    background: transparent;
                                }
                            }
                            .sale-icons{
                                padding: 30px;
                                width: 100%;
                                position: fixed;
                                background: #FFFFFF;
                                bottom: 0;
                                left: 0;
                                box-shadow: 0px 5px 30px rgba(63, 66, 69, 0.15);
                                a{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: end;
                                    gap: 5px;
                                    span{
                                        display: none;
                                    }
                                    p{
                                        display: block;
                                    }
                                }
                                a:nth-child(5){
                                    display: block;
                                    text-align: center;
                                    display: flex;
                                    gap: 10px;
                                }
                            }
                        }
                    }
                }
                .nav-menu{
                    display: none;
                }
            }
            .header-home{
                .container{
                    .container-wrap{
                        .homeSwiper{
                            height: 250px;
                            .hmsp{
                                display: none;
                            }
                            a{
                                font-size: 14px;
                            }
                            .home-prev-btn{
                                display: none;
                            }
                            .home-next-btn{
                                display: none;
                            }
                            
                        }
                        .homeSwiper2{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}