@mixin flex(
  $justify_content: center,
  $align_items: center,
  $gap: 0px,
  $flex_direction: row
) {
  display: flex;
  justify-content: $justify_content;
  align-items: $align_items;
  flex-direction: $flex_direction;
  gap: $gap;
}

@mixin bestsellers {
  #bestsellers {
    background: #f7f8fb;
    padding: 60px 0;

    .container-wrap {
      &  .flex {
        @include flex(space-between);
        margin-bottom: 20px;

        h1 {
          font-family: "Circe";
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 46px;
          color: #15191c;
        }

        button {
          @include flex(center, center, 10px);
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;

          span {
            font-family: "PT Root UI";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #15191c;
          }
          img {
            width: 10px;
            height: 12px;
            object-fit: fill;
          }

          &:hover div {
            transform: scale(1.2);
          }

          div {
            @include flex;
            transition: all 0.3s ease;
            width: 24px;
            height: 24px;

            border: 1px solid #d7d9dc;
            border-radius: 5px;
          }
        }
      }

      .slider {
        position: relative;

        .slider_in {
          @include flex(start, center, 20px);
          flex-shrink: 0;
          overflow: scroll;
          height: 425px;

          // &::-webkit-scrollbar {
          //   display: none;
          // }

          .item {
            padding: 10px 20px 20px;
            min-width: 278px;
            height: 392px;
            background: #ffffff;
            box-shadow: 0px 5px 20px rgba(63, 66, 69, 0.05);
            border-radius: 5px;
            display: inline-block;

            .flex_in {
              @include flex(start, center, 5px);

              div {
                @include flex;
                width: 16px;
                height: 16px;
                background: #46ac44;
                border-radius: 50%;
              }
            }

            .mini_slider {
              position: relative;

              .mini_item {
                margin: 0 auto;
                width: 100%;
                height: 200px;
                padding: 0 20px;
                overflow: scroll;
                @include flex(start, center, 40px);
                flex-shrink: 0;

                &::-webkit-scrollbar {
                  display: none;
                }

                img {
                  width: 200px;
                  height: 180px;
                  object-fit: contain;
                }
              }

              .mini_slider_box {
                @include flex(center, center, 5px);
                width: 100%;

                span {
                  display: inline-block;
                  height: 3px;
                  flex-basis: 23%;
                  background: #d7d9dc;
                  cursor: pointer;

                  &:nth-child(1) {
                    background: #9a9c9e;
                  }
                }
              }

              .item_poa {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                @include flex(center, center, 15px, column);
                transition: all 0.3s ease;
                width: 0;
                overflow: hidden;

                a {
                  padding: 3px;
                  width: 30px;
                  height: 30px;
                  background: #f2f5f9;
                  border-radius: 5px;
                }
              }

              &:hover .item_poa {
                width: 40px;
              }
            }

            & > p {
              font-family: "PT Root UI";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 22px;
              color: #15191c;
              margin: 10px 0 5px;
            }

            .flex_star {
              @include flex(start, center, 10px);

              .star {
                img {
                  width: 13px;
                  height: 13px;
                  object-fit: fill;
                }
              }

              P {
                font-family: "PT Root UI";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: #3a3f43;
              }

              span {
                font-family: "PT Root UI";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #9a9c9e;
              }
            }

            .flex_batton {
              width: 100%;
              height: 24%;
              @include flex(space-between);

              &:hover div:nth-child(2) {
                transform: scale(1.1);
              }

              div {
                @include flex(center, center, 10px);

                p {
                  font-family: "Circe";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 24px;
                  color: #15191c;
                }
                span {
                  font-family: "PT Root UI";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 22px;
                  text-decoration-line: line-through;
                  color: #9a9c9e;
                }

                &:nth-child(2) {
                  padding: 8px;
                  transition: all 0.3s ease;
                  background: linear-gradient(0deg, #208ee2, #208ee2),
                    linear-gradient(0deg, #0696e7, #0696e7), #0867d6;
                  border-radius: 5px;
                }

                img {
                  width: 20px;
                  height: 20px;
                  object-fit: contain;
                }
              }
            }
          }
        }

        .slider_box {
          width: 100%;
          height: 50px;
          @include flex(center, end, 15px);

          span {
            width: 10px;
            height: 10px;
            background: #d7d9dc;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;

            &:nth-child(1) {
              background: #9a9c9e;
            }
          }
        }

        & > .left,
        & > .right {
          padding: 4px;
          position: absolute;
          top: 180px;
          left: 0;
          width: 40px;
          height: 40px;
          background: #ffffff;
          box-shadow: 0px 5px 30px rgba(63, 66, 69, 0.15);
          border-radius: 70px;
          transform: matrix(-1, 0, 0, 1, 0, 0) translateX(50%);
          border: none;
          @include flex;
          cursor: pointer;
          transition: all 0.2s ease;

          img {
            width: 10px;
            height: 20px;
            object-fit: contain;
          }

          &:hover {
            transform: matrix(-1, 0, 0, 1, 0, 0) translateX(50%) scale(1.1);
          }

          &:active {
            transform: matrix(-1, 0, 0, 1, 0, 0) translateX(50%) scale(1);
          }
        }

        & > .right {
          left: 100%;
          transform: translateX(-50%);

          &:hover {
            transform: translateX(-50%) scale(1.1);
          }

          &:active {
            transform: translateX(-50%) scale(1);
          }
        }
      }
    }
  }

  @media screen and (max-width: 770px) {
    #bestsellers {
      .container-wrap {
        & > .flex {
          margin-bottom: 15px;
        }

        .slider {
          .slider_in {
            gap: 10px;
            .item {
              padding: 15px;
              min-width: 236px;
              height: 392px;
              box-shadow: 0px 5px 20px rgba(63, 66, 69, 0.05);

              .flex_batton {
                div {
                  p {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                  }

                  span {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                  }
                }
              }

              .dis_none {
                display: none;
              }

              .mini_slider {
                width: 100%;

                .mini_item {
                  padding: 0;

                  img {
                    width: 100%;
                  }
                }

                .item_poa {
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
                  @include flex(center, center, 15px, column);
                  transition: all 0.3s ease;
                  width: 40px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 430px) {
    #bestsellers {
      .container-wrap {

        .flex{
          h1{
            
font-size: 24px;
line-height: 28px;
          }

          button{
            span{
              
font-size: 14px;
line-height: 18px;
            }
          }
        }

        .slider {
          .slider_in {
            .item {
              padding: 15px 10px;
              min-width: 167px;
              height: 302px;

              .flex_star {
                gap: 3px;
              }

              .flex_batton {
                div {
                  @include flex(center, start, 0, column);

                  p {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                  }

                  span {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                  }
                }
              }

              & > p {
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
              }

              .dis_none {
                display: none;
              }

              .mini_slider {
                width: 100%;

                .mini_item {
                  padding: 0;
                  height: 120px;

                  img {
                    width: 100%;
                    height: 120px;
                  }
                }

                .item_poa {
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%) scale(0.8);
                  @include flex(center, center, 15px, column);
                  transition: all 0.3s ease;
                  width: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@mixin brands {
  #brands {
    background-color: white;
    padding: 60px 0;

    .flex {
      @include flex(space-between);
      margin-bottom: 20px;

      h1 {
        font-family: "Circe";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
        color: #15191c;
      }

      a {
        @include flex(center, center, 15px);
        background-color: transparent;
        border: none;
        cursor: pointer;

        span {
          font-family: "PT Root UI";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: #1e1f21;
        }

        div {
          background: #ffffff;
          border: 1px solid #d7d9dc;
          box-shadow: 0px 5px 20px rgba(63, 66, 69, 0.05);
          border-radius: 5px;
          padding: 4px 7px 2px;
          transition: all 0.3s ease;

          img {
            width: 8px;
            height: 15px;
          }
        }

        &:hover div {
          transform: scale(1.2);
        }
      }
    }

    .carusel_out {
      width: 100%;
      overflow: hidden;
      @include flex(center, center, 0px, column);
    }

    .corusel {
      width: 100%;
      min-width: 800px;
      height: 100px;
      position: relative;

      .item {
        width: 180px;
        height: 100px;
        background-color: #ffffff;
        border: 1px solid #d7d9dc;
        border-radius: 10px;
        @include flex;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        animation: anime 5s linear infinite;
        animation-delay: calc(var(--j) * -1s);

        &:hover {
          transform: scale(0.9);
        }
      }

      @keyframes anime {
        from {
          left: -15%;
        }
        to {
          left: 110%;
        }
      }
    }

    .carusel_2 {
      display: none;
      .item {
        animation-direction: reverse;
      }
    }
  }

  @media screen and (max-width: 770px) {
    #brands {
      .corusel {
        .item {
          width: 160px;
          height: 80px;
        }
      }
    }
  }

  @media screen and (max-width: 430px) {
    #brands {
      .carusel_out {
        @include flex(center, center, 10px, column);
      }

      .corusel {
        min-width: 700px;
        height: 80px;
      }

      .carusel_2 {
        display: flex;
      }
    }
  }
}
@mixin product {
  #product {
    @extend #bestsellers;
    .flex {

      ul {
        @include flex;

        .active {
          &::after {
            transform: scale(1);
          }
          a {
            color: #3697e2;
          }
        }

        li {
          position: relative;
          padding-bottom: 10px;
          transition: all 0.3s ease;

          &::after {
            transition: all 0.3s ease;
            content: "";
            width: 100%;
            height: 2px;
            background: linear-gradient(0deg, #208ee2, #208ee2),
              linear-gradient(0deg, #0696e7, #0696e7), #0867d6;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scale(0.01);
          }

          a {
            font-family: "Circe";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #9a9c9e;
            padding: 10px 15px;
          }

          &:hover::after {
            transform: scale(1);
          }
          &:hover a {
            color: #3697e2;
          }
        }
      }

      button {
        div {
          background-color: #3697e2;
          border: 1px solid #0696e7;
        }
      }
    }
  }

  @media screen and (max-width: 1010px) {
    #product {

      div:first-child{
        overflow: hidden;
      }

      div > .flex{
        min-width: 770px;
        ul{
          li{
            a{
              
font-size: 18px;
line-height: 24px;
padding: 3px 5px;
            }
          }
        }
      }
    }
  }
}
